{% extends "network/layout.html" %}

{% block script %}
    <script src='static/network/newpost.js'></script>
{% endblock %}

{% block body %}
    <div class="main-page">
        <h1 class="page-title">All Posts</h1>
        <div>
            <button id="new-post-btn" type="button" class="btn pink-btn">+ New Post</button>
        </div>
        <div id="new-post">
            <textarea id="new-post-box" name="new-post-box" placeholder="New Post ..."></textarea>
            <form>
                {% csrf_token %}
                <button id="new-post-confirm" type="button" class="btn pink-btn">Post</button>
            </form>
            <button id="new-post-cancel" type="button" class="btn pink-btn">Cancel</button>
        </div>
        <div id="post-view">
        </div>
    </div>
{% endblock %}