{% extends "network/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form class="main-page" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <h2 class="site-text">Login</h2>
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn pink-btn" type="submit" value="Login">
        <p class="site-text">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    </form>

{% endblock %}